.modal {
    display: none;
    position: fixed:
}

#logoHeader {
    width: 40px;
    height: 40px;

}

#googleMap {
    width:100%; 
    height:800px;
}
/* Optional: Makes the sample page fill the window. */

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.navbar-brand {
    padding-top: 5px;
}

.navbar-default .navbar-nav>.active>a {
    color: #fff;
    background: #232326;
}

.navbar-default .navbar-nav>.active>a:focus {
    
}

.navbar-default .navbar-nav>.active>a:hover {
    color: #c9323b;
    background: #232326;

}

.footer {
	background: #d2d2d2;
    height: 60px;
    text-align: center;
}

.gmap {
	padding-left: 0px;
	padding-right: 0px;
}

.container-fluid {
	background-color: #232326;
}

.footer {
	background-color: #232326;
}

.icons {
	width: 50px;
	height: 60px;
	background: none;
	border: none;
    margin-right:30px;
}

#fHero {
    background:url('../images/icon_01.png') no-repeat;
    background-size: contain;
    width:40px; 
    height:40px;
}

#bHero {
    background:url('../images/icon_02.png') no-repeat;
    background-size: contain;
    width:40px; 
    height:40px;
}

#sKick {
    background:url('../images/icon_03.png') no-repeat;
    background-size: contain;
    width:40px; 
    height:40px;
}

#fHero:hover {
    background: url('../images/icon_01_on.png') no-repeat;
    background-size: contain;
    width:40px; 
    height:40px;
}

#bHero:hover {
    background: url('../images/icon_02_on.png') no-repeat;
    background-size: contain;
    width:40px; 
    height:40px;
}

#sKick:hover {
    background: url('../images/icon_03_on.png') no-repeat;
    background-size: contain;
    width:40px; 
    height:40px;
}

@media (min-width: 768px){

.container {
    width: 100%;
}

}